#label_area{
  display: inline-block;
  /*border: 2px solid blue;*/
  height: auto;
  width: 130px;
}
#label_area label{
  display: block;
  margin-top: 6px;
}
#inputs_area{
  display: inline-block;
  /*border: 2px solid blue;*/
  height: auto;
  width: 150px;
}
#inputs_area input{
  display: block;
  margin-top: 5px;
}
form{
  margin-left: 10px;
}
#submit_button{
  display: block;
  border-radius: 5px;
  height: 50px;
  width: 120px;
  margin-top: 20px;
  margin-left: 150px;
}
