<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Full Friends App</title>
  </head>
  <body>
    <div id="wrapper">
      <h1>Full Friends</h1>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p class="flash_message">{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <table>
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
        </thead>
        <tbody>
          {% for record in friends_recordset: %}
            <tr>
              <td>{{ record['first_name'] }}</td>
              <td>{{ record['last_name'] }}</td>
              <td>{{ record['email_address'] }}</td>
              <td>
                <a href={{"/friends/"+record['id']|string+"/edit"}}>
                  <button type="button" class="button">Update</button>
                </a>
                <form class="delete_buttons_form" action = {{"/friends/"+record['id']|string+"/delete"}} method = "post">
                  <input class="delete_buttons" type="submit" name="delete" value="Delete" />
                </form>

                <!-- <a href={{"/friends/"+record['id']|string+"/delete"}}>
                  <button type="button" class="button">Delete</button>
                </a> -->

              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <form id="add_friend_form" action="/friends" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
        <label for="email_address">Email:</label>
        <input type="text" name="email_address">
        <input id="submit_button" type="submit" name="submit" value="Add Friend">
      </form>

    </div>


  </body>
</html>
