<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <h1>All about ninjas!</h1>
    <p>ninjas are super powerful.</p>
    <p>For instance they can:</p>
    <ul>
      <li>Be stealthy</li>
      <li>Move qickly</li>
      <li>Fight well</li>
    </ul>
    <img src="{{ url_for('static', filename='coding_ninja.png') }}" alt="awesome ninja image">
  </body>
</html>
